<!DOCTYPE html>
<html>
<link rel='stylesheet' href='lib/bootstrap-4.0.0/bootstrap.min.css'>
<link rel='stylesheet' href='css/admin.css'>
<script src='lib/angular-1.3.14/angular.min.js'></script>
<script src='js/admin.js'></script>
<div ng-app='AdminApp'>
    <div ng-controller='AdminController' class='adm-container'>
        <div class='container container-fluid adm-container'>
            <h3 class='adm-title'>{{title}}</h3>
            <form name='adminForm'>
                <table class='table table-bordered table-striped adm-table'>
                    <thead>
                        <tr>
                            <th>{{ nameLabel }}</th>
                            <th>{{ permissionsLabel }}</th>
                            <th>{{ actionsLabel }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='user in users track by $index'>
                            <td>
                                <span class='adm-cell' ng-hide='user.editing'>{{ user.name }}</span>
                                <input name='name' focused='true' class='adm-cell adm-input' ng-model='user.name' type='text' ng-show='user.editing' ng-minlength='1' required>
                                <br>
                                <span class='text-danger' ng-show='!user.name'>Name field can not be empty!</span>
                                <td>
                                    <span class='adm-cell' ng-hide='user.editing'>{{ user.permissions }}</span>
                                    <select class='adm-cell adm-input' ng-show='user.editing' ng-options='permissions for permissions in permissionOptions' ng-model='user.permissions'></select>
                                </td>
                                <td class='text-center'>
                                    <button ng-disabled='adminForm.$invalid' ng-hide='user.editing' ng-click='editUser($index)' class='adm-action-btn adm-blue-bg adm-white'>
                                        <span class='glyphicon glyphicon-cog'></span>
                                    </button>
                                    <button ng-show='user.editing' ng-disabled='!user.name' ng-click='doneEditing($index)' class='adm-action-btn adm-blue-bg adm-white'>
                                        <span class='glyphicon glyphicon-ok'></span>
                                    </button>
                                    <button ng-click='deleteUser($index)' class='adm-action-btn adm-red-bg adm-white'>
                                        <span class='glyphicon glyphicon-remove-circle'></span>
                                    </button>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <button ng-disabled='adminForm.$invalid' ng-click='addUser()' class='btn adm-add-btn adm-green-bg adm-white pull-right'>
                <span class='glyphicon glyphicon-plus'></span>
            </button>
        </div>
    </div>
</div>

</html>